body {
    background-color: #bde0fe;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App-logo {
    height: 6rem;
}

 .App-header {
    background-color: #080808;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 

.nav-link{
  padding: 2rem; 
}

a{
    color:#219ebc;
    text-decoration: none; 
    list-style: none;   
}  

